{% extends 'base.html.twig' %}

{% block title %}{% trans %}Civilization 6 Randomazer{% endtrans %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="{{ asset('images/leaders/' ~ random_leader.image) }}" class="card-img-top" alt="{{ random_leader.name }}">
        </div>
    </div>
</div>
{% endblock %}
